<!-- <section
  class="ftco-section"
  style="
    background-image: url('assets/images/wel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
  "
>
  <link
    href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap"
    rel="stylesheet"
  />
  <div class="layout">
    <input
      name="nav"
      type="radio"
      class="nav home-radio"
      id="home"
      checked="checked"
    />
    <div class="page home-page">
      <div class="page-contents">
        <h1>Home</h1>
        <h1>Explore the World with Ease</h1>
        <h2>
          <p>
            Find the best travel deals book  bus ,Train, flights  with our
            intuitive booking system.
          </p>
        </h2>

        <p><label for="about">Learn more</label></p>
      </div>
    </div>
    <label class="nav" for="home" >
      <span>
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="css-i6dzq1"
        >
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        Home
      </span>
    </label>

    <input name="nav" type="radio" class="about-radio" id="about" />
    <div class="page about-page">
      <div class="page-contents">
        <h1>About</h1>

        <h2>
          <p>
            A TMC, or travel management company, provides solutions for the travel needs of a business. It provides the ability to book travel with special rates, can be adjusted to a specific travel policy, and provides duty of care support for travelers.

          </p>
        </h2>
      </div>
    </div>
    <label class="nav" for="about">
      <a href="admin/home" class="btn btn-primary">
        <span>
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="css-i6dzq1"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12" y2="17"></line>
          </svg>
          Admin Login
        </span>
      </a>
    </label>

    <input name="nav" type="radio" class="contact-radio" id="contact" />
    <div class="page contact-page">
      <div class="page-contents">


      </div>
    </div>
    <label class="nav" for="contact">
      <span>
        <svg
          viewBox="0 0 24 24"
          width="24"
          height="24"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="css-i6dzq1"
        >
          <path
            d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"
          ></path>
        </svg>
        <a href="/user/login" class="btn btn-primary"> User Login</a>
      </span>
    </label>
  </div>
</section>
 -->
 <!DOCTYPE html>
 <html lang="en">

 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Your Website</title>
   <link rel="stylesheet" type="text/css" href="welcome.component.css">

 </head>

 <body>
   <nav>
     <a href="#">Home</a>
     <a href="admin/login">Admin Login</a>
     <a href="/user/login">User Login</a><br>
   </nav>
   <header>
     <section class="ftco-section" style="
     background-image: url('assets/images/welcome.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 91vh;
     background-attachment: fixed;">
       <h1>Travel Booking System</h1>
       <h2>Discover Unforgettable Journeys</h2>
       <h3>
         <p>Find the best travel deals and book Bus, Train, Car, flights with our intuitive booking system.</p>
       </h3>

     </section>


   </header>
 </body>

 </html>
