
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="main-content">
    <a class="navbar-brand">Travel Booking</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/admin/home">Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/bus-list">Bus</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/train-list">Train</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/flight-list">Flight</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/carnew">Car</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">


  <div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body text-center">
              <h5 class="card-title m-b-0">Payment List</h5>
          </div>
              <div class="table-responsive">
                  <table class="table">
                      <thead class="thead-light">
        <tr>
          <th>Paymentid</th>
          <th>Amount</th>
          <th>Method</th>
          <th>Paiddate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let temppayment of Payment | paginate: { itemsPerPage: count, currentPage: p }">
          <td>{{ temppayment.payment_id }}</td>
          <td>{{ temppayment.amount }}</td>
          <td>{{ temppayment.method }}</td>
          <td>{{ temppayment. paidDate }}</td>

          </tr>
          </tbody>

    </table>
    <div class="text-right mt-3">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  </div>
</div>
</div>
</div>

