<div class="main-conatiner" style="
background-image: url('assets/images/paybg.jpeg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
height: 90vh;
overflow: hidden;">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h2 class="text-center my-4">Payments</h2>

            <div class="row">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">Payment Id</th>
                            <th class="text-center">Booking Id</th>
                            <th class="text-center">Customer Name</th>
                            <th class="text-center">Order Date</th>

                            <th class="text-center">Paid Amount</th>
                        </tr>
                    </thead>

                </table>
                <div class="text-right mt-3">

                </div>
            </div>
        </div>
    </div>
</div>
