<!-- <div class="main-conatiner" style="
background-image: url('assets/images/mybookbg.jpeg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
height: 90vh;
overflow: hidden;">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h2 class="text-center my-4">My Booking Details and Ticket</h2>

            <div class="row">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center">Booking Id</th>
                        <th class="text-center">Source</th>
                        <th class="text-center">User Name</th>

                        <th class="text-center">Destination</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tempbook of booking  | paginate: { itemsPerPage: count, currentPage: p}">
                        <td class="text-center">{{ tempbook.booking_id }}</td>
                        <td class="text-center">{{ tempbook.source }}</td>
                        <td class="text-center">{{ tempbook.user?.username }}</td>

                        <td class="text-center">{{ tempbook.destination }}</td>

                      </tr>
                    </tbody>
                  </table>
                  <div class="text-right mt-3">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                <div class="text-right mt-3">

                </div>
            </div>
        </div>
    </div>
</div>
 -->
 <div class="main-conatiner" style="
 background-image: url('assets/images/mybookbg.jpeg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 height: 90vh;
 overflow: hidden;">
     <div class="section-content section-content-p30">
         <div class="container-fluid">
             <h2 class="text-center my-4">My Booking Details and Ticket</h2>

             <div class="row">
                 <table class="table table-bordered">
                     <thead>
                       <tr>
                         <th class="text-center">Booking Id</th>
                         <th class="text-center">Source</th>
                         <th class="text-center">User Name</th>

                         <th class="text-center">Destination</th>

                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let tempbook of booking | paginate: { itemsPerPage: count, currentPage: p}">
                         <td class="text-center">{{ tempbook.booking_id }}</td>
                         <td class="text-center">{{ tempbook.source }}</td>
                         <td class="text-center">{{ tempbook.user?.username }}</td>

                         <td class="text-center">{{ tempbook.destination }}</td>

                       </tr>
                     </tbody>
                   </table>
                   <div class="text-right mt-3">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                 <div class="text-right mt-3">

                 </div>
             </div>
         </div>
     </div>
 </div>

